In [1]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
from pivottablejs import pivot_ui
pivot_ui(df)

In [3]:
inputs = df.drop(columns = "salary_more_then_100k")
targets = df.salary_more_then_100k

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [6]:
inputs["company_n"] = le_company.fit_transform(inputs['company'])
inputs["job_n"] = le_company.fit_transform(inputs['job'])
inputs["degree_n"] = le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [43]:
input_n = inputs.drop(columns=["company", "degree", "job"])
input_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [44]:
from sklearn.model_selection import train_test_split

In [105]:
X_train, X_test, y_train, y_test = train_test_split(input_n, targets, test_size=0.3)

In [106]:
from sklearn.tree import DecisionTreeClassifier

In [107]:
model = DecisionTreeClassifier()

In [108]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [109]:
model.score(X_test, y_test)

0.8

In [110]:
model.predict([[2, 2, 1]])

C:\Users\PC\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)